
body { font-family: Arial; background:#eef2f5; padding:20px; }
.title { text-align:center; margin-bottom:20px; }
.card {
    background:white; padding:20px; margin:20px auto;
    border-radius:10px; max-width:450px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
button {
    padding:12px 20px; background:#0066ff; color:white;
    border:none; border-radius:6px; font-size:16px; margin-top:10px;
}
input { width:100%; margin-top:10px; }
